[2017-09-06 23:45] justinr1234 opened #1 "TypeError: stack.hasAll is not a function"
Note: not part of starter kit, but after merging in your latest spin changes I'm having issues.

**Update** Having issue with starter kit too

[code]

[2017-09-07 00:19] justinr1234 commented on #1
@vlasenko The node module doesn't have the proper definition for the `Stack` class:

[code]

[2017-09-07 03:34] vlasenko commented on #1
@justinr1234 Looks like you are using outdated version? When I install version `0.1.15`, which is the latest, I have `hasAll` function in `Stack` class

[2017-09-07 06:16] mitjade commented on #1
@vlasenko Same problem seems to accrue in the kit.

[2017-09-07 06:41] vlasenko commented on #1
@mitjade I don't see it. Could you check what version of `spin.js` is used in `node_modules/spinjs` ?

[2017-09-07 06:42] mitjade commented on #1
`0.1.15`

[2017-09-07 06:43] mitjade commented on #1
Also tried now with `0.1.16`. Same result. Using `Mac`.

[2017-09-07 06:44] vlasenko commented on #1
@mitjade How can it be? Does `Stack` has no `hasAll` function in `0.1.16` ?

[2017-09-07 06:45] mitjade commented on #1
Mine has.

[2017-09-07 06:45] mitjade commented on #1
[code]

[2017-09-07 06:45] mitjade commented on #1
[code]

[2017-09-07 06:46] mitjade commented on #1
Am I looking in the wrong place?

[2017-09-07 06:47] vlasenko commented on #1
@mitjade What is inside `lib/Stack.js` ?

[2017-09-07 06:48] mitjade commented on #1
[code]

[2017-09-07 06:49] mitjade commented on #1
`typescript` problem?

[2017-09-07 06:49] vlasenko commented on #1
@mitjade I have just created empty project `test`, with `npm init`, then installed `spinjs` via `npm i spinjs@0.1.16` and my `lib/Stack.js` has `hasAll` function, as expected

[2017-09-07 06:50] vlasenko commented on #1
@mitjade I'm not sure what the problem is, I can't reproduce it

[2017-09-07 06:53] mitjade commented on #1
@vlasenko Done the same with empty project no `hasAll`?

[2017-09-07 06:53] vlasenko commented on #1
@mitjade Haha

[2017-09-07 06:53] vlasenko commented on #1
@mitjade Okay, let me release 0.2.0 maybe

[2017-09-07 06:56] vlasenko commented on #1
@mitjade Published `0.2.0`, could check whether `0.2.0` has `hasAll` in `lib/Stack.js` ?

[2017-09-07 06:58] mitjade commented on #1
@vlasenko It does. What just happened?

[2017-09-07 06:58] vlasenko commented on #1
@mitjade I don't know. I have just increased minor version, so that it become `0.2.0`

[2017-09-07 07:00] mitjade commented on #1
@vlasenko kit also works ok now

[2017-09-07 07:01] vlasenko commented on #1
@mitjade Good to know, thanks for helping to debug this issue

[2017-09-07 07:02] vlasenko commented on #1
@mitjade Thought I still don't understand what was the cause of this problem, but I'm glad it is gone for you

[2017-09-07 07:04] mitjade commented on #1
@vlasenko hopefully it will also work for @justinr1234 and @MichelDiz.

[2017-09-07 12:22] justinr1234 commented on #1
@vlasenko What version of npm?   @mitjade same question

[2017-09-07 12:23] vlasenko commented on #1
@justinr1234
[code]

[2017-09-07 12:30] justinr1234 commented on #1
@vlasenko I'm not sure what you're doing that's creating the actual package, but the 2 broken versions absolutely have the wrong output in `/lib`. What generates the `/lib` folder?

https://registry.npmjs.org/spinjs/-/spinjs-0.1.15.tgz

https://registry.npmjs.org/spinjs/-/spinjs-0.1.16.tgz

[2017-09-07 12:34] vlasenko commented on #1
@justinr1234 I have just downloaded and checked both these archives. And both have correct output in `lib/Stack.js`, e.g. it has `hasAll` function.

[2017-09-07 12:35] vlasenko commented on #1
@justinr1234 Yes

[2017-09-07 12:36] vlasenko commented on #1
@justinr1234
The size of spinjs-0.1.15.tgz is 61143 bytes. The MD5 sum is:
[code]

[2017-09-07 12:39] justinr1234 commented on #1
@vlasenko  Same info on my end --- now I'm really confused

[2017-09-07 12:40] justinr1234 commented on #1
@vlasenko Just had my friend in Taiwan check (I'm in the US) and he doesn't see `hasAll` either

[2017-09-07 12:41] vlasenko commented on #1
@justinr1234 What is md5sum of spinjs-0.1.15.tgz  that you have downloaded via browser?

[2017-09-07 12:42] justinr1234 commented on #1
[code]

[2017-09-07 12:42] vlasenko commented on #1
@justinr1234 If we have the same md5sum we can't have different contents :)

[2017-09-07 12:46] justinr1234 commented on #1
[code]

[code]

http://recordit.co/5Z3WAmDIvy/gif/notify

And updated, he was still confused he saw it in /src/ but just like me he doesn't see it in /lib/

[2017-09-07 12:49] vlasenko commented on #1
@justinr1234 I know where is the problem. There are two files, one `Stack.js`, another `stack.js`. The `stack.js` is outdated and just hanged around until I have fully removed `lib` dir in `0.2.0` prior to compilation. Need to add rm -r /lib in `prepublish` task

[2017-09-07 12:52] vlasenko commented on #1
@justinr1234 @mitjade I must admit this was hard one to figure out, despite its simple nature. Thank you guys for the help!

[2017-09-07 12:53] #1 closed

[2017-09-07 13:03] justinr1234 commented on #1
@vlasenko And just like that my non-starter is up and running with spin.js --- thanks for your hard work here. I plan to look into creating a plugin for `native-base`. Are you possibly already working on an example of a UI addin? If so, I might wait until then.

[2017-09-07 13:07] vlasenko commented on #1
@justinr1234 I'm not working on UI addin yet. I'm going to work on docs for spin.js. But I think writing plugin should be not hard without docs too. Feel free to ask if you need something, when you decide to write plugin for `NativeBase`

[2017-09-07 13:16] vlasenko commented on #1
@justinr1234 After docs I plan to add the feature to install needed libraries for chosen stack via `spin init`. So that this process were automated. Since you are the first who is using `spin.js` outside of starter kit, please tell us what features do you miss the most when you will be ready

[2017-09-07 14:08] justinr1234 opened #2 "NativeBase UI Plugin"
Opening this for discussion on adding Native Base to this.

@vlasenko First question, what's the best way to go about adding `packagerOpts` to expo?

[2017-09-07 14:26] justinr1234 commented on #2
@vlasenko Another question is the best place to put this loading code:

https://github.com/expo/nativebase-example/blob/master/main.js#L33

[2017-09-07 14:34] vlasenko commented on #2
@justinr1234 I believe `packagerOpts` should be in `app.json` in the application code. And loading code should also be in entry of application code. I think both should be outside of `spin.js`. But I'm open to discussion.

[2017-09-07 14:36] justinr1234 commented on #2
Ya for situations like this where there's "additional setup code required", how would you want to handle that in the instructions / documentation?

For instance, I think for the `app.json` we could theoretically merge extra opts in similar to here: https://github.com/sysgears/spin.js/blob/master/src/executor.ts#L609

[2017-09-07 14:38] vlasenko commented on #2
@justinr1234 Good idea, we actually can. But I have no yet plugin architecture for executor. Feel free to just hack in needed logic into `executor.ts` directly to support `native-base `

[2017-09-07 14:40] justinr1234 commented on #2
@vlasenko Another idea for the case of the async loading of fonts on startup, there could be the possibility of exposing a higher order component to do async loading of things that are required by packages in the spin plugin: https://github.com/expo/nativebase-example/blob/master/main.js#L33

[code]

[2017-09-07 14:42] vlasenko commented on #2
@justinr1234 Yes, I like this idea as well

[2017-09-07 15:02] justinr1234 commented on #2
@vlasenko any ideas here?

[code]

That's in code I didn't touch.

[2017-09-07 15:04] vlasenko commented on #2
@justinr1234 I have just tried to run `yarn lint` and I don't see any errors. How do you launch linting?

[2017-09-07 15:04] justinr1234 commented on #2
[code]

[2017-09-07 15:06] justinr1234 commented on #2
Removed my global tsc fixed it

[2017-09-07 15:06] vlasenko commented on #2
ok

[2017-09-07 18:06] justinr1234 commented on #2
@vlasenko Any ideas on how to expose client side stuff with this architecture? My initial tries have been failure.

[2017-09-08 03:57] vlasenko commented on #2
@justinr1234 I guess something like this:
https://github.com/sysgears/spin.js/blob/master/src/plugins/ApolloPlugin.ts#L67

[2017-09-14 09:19] vlasenko commented on #2
@justinr1234 Are you still working on this plugin?

[2017-09-14 12:15] justinr1234 commented on #2
Yes, been slammed. I was pretty close but never settled on a way to do client side startup. I had a proof of concept with your virtual modules, but I think I want to do reading in a file and then export it as a virtual module. That way each plugin can define a `startup.js` and then it would read in the file as a string and export a virtual webpack module. The issue with making it non virtual would

[2017-09-14 12:26] vlasenko commented on #2
@justinr1234 Very interesting ideas and a use case for virtual modules, thanks!

[2017-09-14 16:38] justinr1234 opened #4 "Next.js"
@vlasenko Have you considered next.js possibilities? They have their own webpack / command line tools and whatnot. Let me know if anything comes to mind immediately, but I'm considering it would be nice to be able to have that as another option.

[2017-09-14 16:42] vlasenko commented on #4
@justinr1234 They don't support building React Native project with Webpack

[2017-09-14 18:22] #4 closed

[2017-10-16 12:29] veeramarni opened #8 "How to pass custom tsconfig.json"
How to pass custom `tsconfig.json` based on each build environment. For example i use following `awesome-typescript-loader` with `options` to use a specific `tsconfig.json`. How do I do with `spin.js`

[code]

[2017-10-16 12:33] vlasenko commented on #8
@veeramarni Thanks for asking the question. Let me quickly implement solution for this one

[2017-10-16 12:45] vlasenko commented on #8
Published support in `spinjs@0.4.7`

Usage:
[code]

[2017-10-16 13:28] veeramarni commented on #8
@vlasenko

Thanks for quick response.

I'm using that version now and I have encountered another error. Not sure I'm doing correctly for a `typescript` project.

[code]

Error

[code]

My config files are here
https://github.com/cdmbase/fullstack-pro/blob/spinjs/.spinrc.json
https://github.com/cdmbase/fullstack-pro/blob/spinjs/tools/webpackAppConfig.js

[2017-10-16 13:32] vlasenko commented on #8
Yeah, I'm aware that entry point overriding is not working very good right now... Let me think a bit how to fix it quickly for now

[2017-10-16 13:43] vlasenko commented on #8
Published support for `entry` in `spinjs@0.4.8`

Usage:
[code]

[2017-10-16 13:44] vlasenko commented on #8
@veeramarni Let's open separate issues here for separate problems in the future, thanks!

[2017-10-16 13:45] veeramarni commented on #8
thanks, sure will create seperate issu.

[2017-10-16 13:48] veeramarni opened #9 "[question] for a typescript project do we need to put es6 in stack"
I'm wondering for a typescript project, do we still need to put `es6` in the stack.

Without it, I'm getting following error

config options
----
[code]

Run time error
---
[code]

[2017-10-16 13:48] vlasenko commented on #8
@veeramarni Btw, to quickly check what configs are generated by `spin.js` you can use
[code]
command from project folder

[2017-10-16 13:51] vlasenko commented on #9
@veeramarni No, it is not required, could you copy paste webpack configs generated by
`npx spin -v watch`
to help understand the cause of this problem
?

[2017-10-16 13:53] vlasenko commented on #9
@veeramarni We use `ts` without `es6` here and everything works fine:
https://github.com/sysgears/apollo-universal-starter-kit/tree/angularjs

[2017-10-16 13:59] #8 closed

[2017-10-16 14:02] veeramarni commented on #9
[code]

[2017-10-16 14:09] vlasenko commented on #9
@veeramarni I see, there is an error in the docs now, the typescript should be specified as `ts` now in `stack` property.

[2017-10-16 14:09] veeramarni commented on #9
But it could not recognize `tsx`.

I think search file type should be
[code]

and webpack resolve extension should have
[code]

[2017-10-16 14:11] vlasenko commented on #9
@veeramarni Yes, it should do this when you replace `typescript` to `ts` in your `stack` definition

[2017-10-16 14:13] veeramarni commented on #9
But i still see it could not recognize `.tsx`

Error
--
[code]

[2017-10-16 14:14] vlasenko commented on #9
@veeramarni We have tested Angular4 + TypeScript right now. React with TypeScript has not been tested yet, so let me check now and fix it. Should not be difficult

[2017-10-16 14:32] vlasenko commented on #9
@veeramarni Pushed the fix to `spinjs@0.4.9`, please try it

[2017-10-16 14:38] veeramarni commented on #9
@vlasenko Thanks for quick response, giving it a try.

[2017-10-16 14:51] veeramarni commented on #9
This fixes current issue.

[2017-10-16 14:51] #9 closed

[2017-10-16 14:54] vlasenko commented on #9
@veeramarni Awesome! Thanks for reporting @veeramarni !

[2017-10-16 14:56] veeramarni opened #10 "css loader missing"
Not able to load `css` file.

I have entrypoint for web pointing to `index.tsx` which as `import './index.css'` and it fails with following error.

[code]

error
[code]

[2017-10-16 15:04] vlasenko commented on #10
@veeramarni As a workaround you can use `index.scss` now for your styles... I'm going to fix this soon

[2017-10-16 15:32] veeramarni opened #12 "custom webpack plugin"
To be honest `spin.js` works very well and most of it comes out of the box. It frees up a lot of build configuration time, but what if we want to overwrite the out of the box webpack configuration or add new webpack plugin. For example like I was referring in #10 which needs `css` plugin.

I do see you have `plugins` option, was there any example how to use it. Will this be the way to add custom `

[2017-10-16 15:40] vlasenko commented on #12
@veeramarni There are multiple ways to do it, but I'm going to support `css` out of the box.

To customize webpack config you can use `webpackAppConfig.js`, just add proper rule to load `css` as you normally do with webpack. This approach work, if your rule is something that doesn't interfere with config generated by `spin.js`

You can also write `spin.js` if you need clever webpack config part ge

[2017-10-16 15:46] veeramarni commented on #12
Thanks for quick explanation. How do we overwrite few configuration, for example

If I do a production build, I get the following error

[code]

It was known issue with `uglify` that comes with web pack as it has some compilation issue with `typescript` and `ES2015` as referred [here](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/105). I need to use latest `uglify` to fix this

[2017-10-16 15:51] vlasenko commented on #12
@veeramarni I propose to have the code in `spin.js` that detects if `uglifyjs-webpack-plugin` is in package.json `devDependencies` and if it is, then `spin.js` will use it instead of stock `UglifyJSPlugin`

[2017-10-16 16:46] vlasenko commented on #12
@veeramarni I think if you just install
[code]
it should be used automatically without any changes to `spin.js`

[2017-10-16 17:36] vlasenko commented on #10
@veeramarni `spinjs@0.4.10` should have out of the box support for `.css` files

[2017-10-16 17:36] #10 closed

[2017-10-16 18:10] veeramarni commented on #12
In my case, it is already installed. But we need to add that plugin to `webpack-confg` to use it.

[2017-10-17 01:49] vlasenko commented on #12
@veeramarni But this plugin is added to config, during build.

[2017-10-17 02:58] veeramarni commented on #12
@vlasenko can you please elaborate? Do you mean i need to add something to `webpackAppConfig` file.

[2017-10-17 03:19] vlasenko commented on #12
@veeramarni You need to just add the version of `uglifyjs-webpack-plugin` you want into `devDependencies` of your project:
[code]

And this version will be used by `webpack` automatically.

[2017-10-17 03:26] vlasenko commented on #12
https://github.com/sysgears/spin.js/blob/master/src/plugins/WebpackPlugin.ts#L33
https://github.com/webpack/webpack/blob/master/lib/optimize/UglifyJsPlugin.js#L7

[2017-10-17 03:40] veeramarni commented on #12
I do have it in the `devDependencies`.

But `Webpack` brings the version it is compatible with.
https://github.com/webpack/webpack/blob/master/package.json#L25

In my case, I have two `uglifyjs-webpack-plugin` and it uses the older version by default.

![image](https://user-images.githubusercontent.com/3382355/31645657-40b983fc-b2cb-11e7-97a5-23ca34e5f505.png)
![image](https://user-images.githubus

[2017-10-17 03:45] vlasenko commented on #12
@veeramarni Strange that it doesn't behave like that for me. Okay, I have patched `spin.js` to use `uglifyjs-webpack-plugin` directly:
https://github.com/sysgears/spin.js/commit/95a07b16fc71e15f8fe90095f5f0bbd7269c05dc
Please try `spinjs@0.4.12`

[2017-10-17 03:57] veeramarni opened #13 "how to run multiple builds with spin.js?"
Based on the code [here](https://github.com/sysgears/spin.js/blob/master/src/requireModule.ts#L4)  `spinjs` look for local node modules from where it runs.

But with`lerna` type of setup, we can have all `node_modules` installed in the `root`. And all sub folder packages can use them (which lerna handles it transparently). And we may need to include the `module` in `package.json`that brings in bin

[2017-10-17 04:03] veeramarni commented on #12
thanks for quick fix, but getting the following error

[code]

[2017-10-17 04:37] veeramarni opened #14 "postcss configuration for css-loader"
Thanks for releasing `0.4.11` to support `css` out of the box. I'm getting following error, as it is looking for `postcss.config.js`. Should it be by default taken care of it and may provide way to customize it if needed. In my case, it is really not required for using `css-loader`.

Error
--
[code]

[2017-10-17 05:11] vlasenko commented on #14
@veeramarni Thanks, that would be the desired behavior, I will take a look to implement it

[2017-10-17 05:14] vlasenko commented on #13
@veeramarni Yes, I was going to have lerna hoisted modules support a bit later, but I will investigate now, whether it is possible to add it quickly

[2017-10-17 09:43] vlasenko commented on #12
@veeramarni Should be fixed in `spinjs@0.4.13`

[2017-10-17 13:08] #14 closed

[2017-10-17 13:10] vlasenko commented on #14
@veeramarni With `spinjs@0.4.14` if `postcss-loader` is not installed into project dependencies it will not be used

[2017-10-17 13:11] #12 closed

[2017-10-17 13:16] veeramarni commented on #14
@vlasenko thank you, will test it.

[2017-10-17 14:18] vlasenko commented on #13
@veeramarni Just FYI, I'm working on this issue. Currently `spin.js` itself doesn't have issues with utilizing hoisted packages, however all the tools that `spin.js` relies on should support this or we need to invent workarounds. One of the dependencies we rely on is `webpack-node-externals`. It is not hoisted packages friendly. I'm working on a workaround at the moment.

[2017-10-17 14:34] vlasenko commented on #13
@veeramarni I have published `spinjs@0.4.15` which should have initial support for hoisted packages. Though I think it will require much more efforts. But initial support is pushed into 0.4.15

[2017-10-17 15:22] veeramarni commented on #13
Thanks, just tested it. Looks like `webpack` has parse problems with some of the `node_modules`, this could be due to removing `webpack-node-externals` as we don't need to create `dll` for some of the node modules.

I usually do builds like below in `lerna` build. That way webpack don't try to build `node_modules` that related to `server`.
[code]

Error
---
[code]

[2017-10-17 16:51] vlasenko commented on #13
@veeramarni Could you point me to source code where I can reproduce this?

[2017-10-17 17:07] vlasenko commented on #13
@veeramarni node-externals should be used for server code only and for server code dll shouldn't be generated at all. From the details you have posted it is not clear for which platform the dll is generated for web front-end or for the server code?

[2017-10-17 18:47] veeramarni commented on #13
I agree, but right now `dll` are been build for server side `node_modules` as  well and causing `webpack` parse issues.

As shown in the following log.

[watch.log](https://github.com/sysgears/spin.js/files/1392195/watch.log)

[2017-10-18 03:37] vlasenko commented on #13
@veeramarni There is clearly a problem with your package dependencies. In your logs it is seen that your package for web is dependent on `node-pre-gyp` and other server-side packages. Please fix your package dependencies

[2017-10-18 20:54] veeramarni commented on #13
@vlasenko

I don't see we are referring any of server packages as dependency in `web` package. What I have noticed, that `dll` is picking all the `dependencies` section of the `package.json` to build it.

I have following modules in `dependencies` section and `dll` is picking all of them.

[code]

[2017-10-18 21:00] veeramarni commented on #13
I think i need to add the `dependencies` types categorized as `web`, `server` that should fix this issue. I will give that the try.

[2017-10-18 21:03] veeramarni commented on #13
Going back to your previous comment

What else is still pending and needs efforts? If you can give me a rough idea, we want to see how we can contribute it.

[2017-10-19 04:42] vlasenko commented on #13
@veeramarni Yes, `spin.js` tries to build a dll from all modules listed in `package.json -> dependencies`. If you run multiple builders on the same `package.json` you need to specify in `dependencyPlatforms` which dependency belongs to which builder, so that `spin.js` didn't try to put `server` dependencies into a `web` `dll`.

I don't know what is still pending to support hoisted packages, I hope

[2017-10-19 05:14] vlasenko commented on #13
@veeramarni However there are many other areas to contribute. For example make current plugins more flexible by making them work even when some optional dependencies are not installed, like was the case with `postcss-loader`, or provide default configuration for `postcss-loader` when it is installed, but config is missing. Write more plugins for different frameworks and libraries, help with docume

[2017-10-19 09:16] vlasenko commented on #13
@veeramarni One of the features that would be nice to have is an auto-detection whether dependency is safe to put into a dll for a given platform

[2017-10-19 12:54] veeramarni commented on #13
Ok, I do see a problem with `postcss-loader` and `css-loader` as I was testing with `xterm` library which brings in `css`. Will take a look.

[code]

[2017-10-19 12:58] vlasenko commented on #13
@veeramarni  Why `.css` from inside `node_modules` is loaded at all? How it can be required inside `xterm` and why?

[2017-10-19 14:03] veeramarni commented on #13
Xterm is just in dependencies and not even imported in the code. But dll build itself is loading and failing. I m not sure it is xterm library issue or spinjs. But I did not see this issue before.

[2017-10-19 14:08] vlasenko commented on #13
`spinjs` puts into dll all the package.json dependencies. It cannot know whether the dependency is used in the code or not. It assumes everything is used. But you can exclude some dependencies from the given dll by specifying target builder in dependencyPlatforms

[2017-10-19 14:09] vlasenko commented on #13
@veeramarni If you don't want using dll set `"webpackDll": false` in `.spinrc.json -> options`

[2017-10-19 14:25] veeramarni commented on #13
No im just testing whether such kind of libraries works out with spinjs. My expectation was the dll build should be successful with that library as well.

I would like to dig deep into it shortly.

[2017-10-19 14:54] vlasenko commented on #13
@veeramarni Yes, I can reproduce this problem, let me look too

[2017-10-19 15:29] vlasenko commented on #13
@veeramarni I think this is a problem in `xterm`. It is generally considered a bad practice to use dynamic requires inside libraries, like done here:
https://github.com/sourcelair/xterm.js/blob/master/src/xterm.js#L766

See the relevant discussion in Webpack issues:
https://github.com/webpack/webpack/issues/733#issuecomment-71920930

To workaround this issue you can exclude this library from `dll`

[2017-10-31 14:24] alewcock opened #21 "Node arguments?"
Is it possible to specify command line arguments to be passed to node?

I am trying to use Visual Studio Code to debug, and it requires the --inspect flag to be passed to node on startup.

Thanks!

[2017-10-31 14:42] vlasenko commented on #21
@alewcock At the moment no. But Pull Request would be welcome. I believe we can detect node version and pass `--inspect` or `--debug` in development mode to backend process:
https://github.com/sysgears/spinjs/blob/9c7a6c3eddf4eda64450c5eb8ae9a6cf3f4b8751/src/executor.ts#L51

[2017-11-01 12:37] lyudad opened #22 "__dirname return '/'"
OUTPUT does not have __dirname: true

[2017-11-01 12:59] vlasenko commented on #22
@lyudad We set `node: { __dirname: true }` when `stack` has `server` as a target platform. Your `stack` doesn't specify `server`. I wonder why it works at all this way. Your `stack`, should include one of `server`, `web`, `android` or `ios`.

[2017-11-01 13:06] lyudad commented on #22
missed it, yes found it on `server` but __dirname still not work

[2017-11-01 13:06] vlasenko commented on #22
Check if target platform included into `stack` is added and published in `spinjs@0.4.21`

[2017-11-01 13:07] vlasenko commented on #22
@lyudad If `__dirname` doesn't work, why are you closing the issue?

[2017-11-01 13:09] vlasenko commented on #22
@lyudad Could you add more details about problem you see? How can I reproduce it?

[2017-11-01 13:14] lyudad commented on #22
close, as I thought that problem was with webpack, but look like it ok. Updated to spinjs@0.4.21, but I have the same issue

[2017-11-01 13:18] vlasenko commented on #22
@lyudad Yeah, look the clarification here:
https://github.com/webpack/webpack/issues/2010
I think we should actually set __dirname to false for server target

[2017-11-01 13:23] vlasenko commented on #22
@lyudad Okay, I have dropped setting `node: { __dirname: true }` in `spinjs@0.4.22`. Could you check if it fixes your issue?

[2017-11-01 14:23] lyudad commented on #22
I think it's because I use code in in my package outside the server folder. As in server folder everything ok.

[2017-11-01 14:31] vlasenko commented on #22
@lyudad I think what you really want is webpack substitution of `__dirname` for non-server builds. I have pushed settings `node: { __dirname: true }` for client bundles in `spinjs@0.4.23`

[2017-11-01 19:59] msaspence opened #23 "Adding 'ts' breaks jsx"
Have added 'ts' to my stack and as a result am getting

[code]

Maybe related to #9
Am on spinjs v0.4.20

[2017-11-01 20:06] msaspence commented on #23
[code]

[2017-11-01 20:09] msaspence commented on #23
Am no expect in web pack but looks like the offender is:

`test: /\.tsx?$/` prevents jsx being transpiled and forces you to `tsx` everything*, this makes transitioning to TypeScript a bit of a pain.

* I think

[2017-11-02 02:54] vlasenko commented on #23
@msaspence Yeah, you are right, I'm going to look and perhaps fix this today

[2017-11-02 09:16] vlasenko commented on #22
Closing this issue for now, if there will be new information about the problem, please reopen

[2017-11-02 09:16] #22 closed

[2017-11-02 10:49] #21 closed

[2017-11-02 12:06] alewcock commented on #21
Thank you!

[2017-11-02 15:58] #23 closed

[2017-11-02 15:59] vlasenko commented on #23
@msaspence Should be supported in `spinjs@0.4.25` and later

[2017-11-02 19:24] veeramarni commented on #23
@vlasenko

I think this change breaking for me.

![image](https://user-images.githubusercontent.com/3382355/32345850-d6dcb34a-bfe1-11e7-927b-7930b750a921.png)

[2017-11-03 05:19] vlasenko commented on #23
@veeramarni Pushed several fixes, could you check if `spinjs@0.4.26` works for you?

[2017-11-03 06:45] vlasenko commented on #13
Closing this issue, because original problem was solved

[2017-11-03 06:45] #13 closed

[2017-11-03 11:42] veeramarni commented on #23
@vlasenko I don't see v0.4.26 in `npm`

[code]

[2017-11-03 12:22] veeramarni opened #24 "external persist queries file"
I would like to see if we can add `extracted queries` through import if we running front-end and back-end in separate containers.

For example `import <package>/extracted_queries.json`

Right now it fails with below error when `persist queries json` file is not found.

[code]

[2017-11-03 12:54] vlasenko commented on #23
@veeramarni Sorry, forgot to publish. Now it is there!

[2017-11-03 14:21] veeramarni commented on #23
@vlasenko it works fine now.

[2017-11-03 14:26] vlasenko commented on #24
@veeramarni Does this containers share some part of filesystem?
If yes, I think it is doable, but support for such setup should be added to spinjs, Pull Request will be welcome:
https://github.com/sysgears/persistgraphql-webpack-plugin

[2017-11-03 15:57] msaspence opened #25 "Broken `historyApiFallback`"
I can't get my app to properly implement `historyApiFallback` the proxy gets in the way. Even if I hack at the `spinjs` source to disable the proxy I webpack can't find anything other than the index.

[2017-11-03 15:59] msaspence opened #26 "Dependency installation"
I had to install all the dependencies that spin introduced as part of the stack that I configured. Is there a way for spin to declare these so I don't have to. Or at least provide a command to insure they are all added to my package?

[2017-11-03 16:13] vlasenko commented on #26
@msaspence We are working on this at the moment:
https://github.com/sysgears/spinjs/pull/15

[2017-11-03 16:14] vlasenko commented on #25
@msaspence Could you provide more details, so that I can reproduce the problem and fix it? I'm not quite understand what your problem is, at the moment...

[2017-11-03 16:25] msaspence commented on #26
Nice

[2017-11-03 22:55] msaspence commented on #25
https://github.com/msaspence/spinjstest

Here's an example (node_modules included)

When trying to use spinjs for a single page app and I want to route everything to the `index.html`, although `historyApiFallback` is turned on the web pack proxy config doesn't let it.

[2017-11-06 06:36] vlasenko commented on #25
@msaspence In `spinjs@0.4.27` onwards request proxying will be only turned on if `options.ssr` is true. So proxy should not stay on your way.

[2017-11-06 15:14] vlasenko commented on #25
@msaspence In `spinjs@0.4.28` proxying from Webpack dev server to backend is disabled by default. To enable it, set `devProxy: true` on a builder or in spin options.

[2017-11-06 15:22] msaspence commented on #25
@vlasenko I'm no longer being proxied, but I get a `Cannot GET` page for anything other than the index page.

[2017-11-06 15:26] vlasenko commented on #25
@msaspence Do you think this is incorrect? You can check generated webpack config via `spin -v watch`, it should have historyApiFallback: true and no proxying

[2017-11-06 15:36] msaspence commented on #25
@vlasenko The configuration looks good, I'm at a lose as to why the routing is still not functioning correctly.

[2017-11-06 15:43] vlasenko commented on #25
@msaspence Okay, I'm looking at this too. Meanwhile I have added quick way to hack generated webpack config in `spinjs@0.4.29`, you can add `webpackConfig` option to the builder and write your additional rules or override generated webpack rules from there.

[2017-11-06 15:48] vlasenko commented on #25
@msaspence I think you should really play with example from here:
https://github.com/webpack/webpack-dev-server/tree/master/examples/history-api-fallback
to check how historyApiFallback works

[2017-11-06 16:09] vlasenko commented on #25
@msaspence Okay, I think I have found the root of the problem. In `spinjs` we are using, `webpack-dev-middleware` as a more lightweight alternative to `webpack-dev-server`. And `historyApiFallback` is supported only in `webpack-dev-server`, not `webpack-dev-middleware`

[2017-11-06 16:21] vlasenko commented on #25
@msaspence We have switched to `webpack-dev-middleware` from `webpack-dev-server` to handle complexities of `android` and `ios` target platform, but I think for `web` platform we should really use `webpack-dev-server` as a more feature complete solution for this platform. I'm going to implement and test this tomorrow

[2017-11-06 16:23] msaspence commented on #25
Does look like there are other problems this could throw up, so sounds like a good idea. Otherwise https://github.com/bripkens/connect-history-api-fallback is probably what we are after for this specific problem.

[2017-11-06 17:44] msaspence commented on #25
Yaaaas! Will have a proper play with this on my actual project this evening

Thanks man

[2017-11-06 17:45] vlasenko commented on #25
Great! No problems!

[2017-11-17 07:10] #25 closed

[2017-11-28 10:15] mitjade commented on #2
@justinr1234 Did you manage to get this working? I am would like to add this to the `sysgears/apollo-universal-starter-kit`.

[2017-11-28 12:33] justinr1234 commented on #2
I didn't get the virtual files working. I had to manually add font loading on startup to the starter kit. Otherwise yes native base works.

[2017-11-28 12:34] mitjade commented on #2
@justinr1234 Cool. Will try it out.

[2017-12-09 09:27] papigers opened #29 "Add babel-plugin-import for modular imports"
https://github.com/ant-design/babel-plugin-import

Useful for projects where antd or material-ui is used.
Maybe you should add `antd` and `material-ui` to the stack list, with each adding this babel plugin. For material-ui I guess setup should be even more complicated since it uses JSS.

Thoughts?

BTW, great project :)

[2017-12-09 09:49] vlasenko commented on #29
@papigers Yes, good idea. Maybe you would be willing to submit Pull Request? I'm not sure where I will have time to add this, but would be happy to help with PR

[2017-12-09 10:01] papigers commented on #29
@vlasenko No problem, can you guide me on where to start? Should I create a dedicated plugin for material-ui and another one for antd?

[2017-12-09 10:08] vlasenko commented on #29
@papigers Yes, that would be the best way to go

[2017-12-14 10:28] lyudad opened #30 "vendor_web is not defined"
"spinjs": "^0.4.18"

![2017-12-14 12 24 42](https://user-images.githubusercontent.com/25103090/33987564-026057f2-e0ca-11e7-83a3-ddd36be45be4.png)

sometime if set "spinjs": "0.4.18", everything work

[2017-12-14 10:30] mairh commented on #30
Try the latest version `"spinjs": "^0.4.53"`

[2017-12-14 10:36] vlasenko commented on #30
@lyudad Try to remove your `build` folder and restart `yarn watch`

[2017-12-14 10:57] lyudad commented on #30
remove `build` folder was first that I have tried.
I have tried `"spinjs": "^0.4.53"` but have other error :
`webpack-for-webDll warn Error checking vendor bundle vendor_web, regenerating it... SyntaxError: Unexpected end of JSON input`

![2017-12-14 12 54 38](https://user-images.githubusercontent.com/25103090/33988781-1d4bc476-e0ce-11e7-96af-1fc4f26bd131.png)

[2017-12-14 11:12] vlasenko commented on #30
@lyudad This is not a fatal error, it should regenerate bundle after that and save it on disk and continue

[2017-12-14 11:16] lyudad commented on #30
I understand that warn is not error, but backend was stopped in this case

[2017-12-14 11:19] vlasenko commented on #30
Try to start it manually after that via: `node ./servers/backend-server/build/server/index.js`. Substitute correct path to the generated backend file

[2017-12-14 11:21] vlasenko commented on #30
Latest `spinjs` dumps command to start the backend to terminal, use that command to start backend manually

[2017-12-18 16:46] #30 closed

[2017-12-24 15:31] veeramarni opened #32 "spin build fails with Cannot read property 'loader' of undefined"
spin build failing with the latest version of spinjs. The issue can be reproduced with `https://github.com/sysgears/apollo-universal-starter-kit` on `angularjs` branch.

ran with `ios.enabled = true`
[code]

[2017-12-24 23:56] veeramarni commented on #32
I see the problem was with the `use` function. If I comment that line, I don't see this error.

https://github.com/sysgears/spinjs/blob/master/src/plugins/ReactNativePlugin.ts#L56

[2017-12-25 04:03] vlasenko commented on #32
@veeramarni I don't see any problem. It doesn't reproduce for me with latest angularjs kit and latest spinjs@0.4.62. Can you run it via `spin -v watch` and paste the generated webpack config here?

[2017-12-25 05:01] veeramarni commented on #32
I think I was using the `master` branch of `spinjs` when testing with `angular` and it throws when running with `spin:watch`.

It is also failing in my project as well in [mobile branch](https://github.com/cdmbase/fullstack-pro/tree/mobile)

I have to fix few typescript related to issues, after those fixes `spin:build` don't throw these errors but I get other issues.

[code]

[2017-12-25 05:05] veeramarni commented on #32
`spin:build` throws following errors. I'm not sure why those modules are not installed.
[code]

[2017-12-25 06:45] vlasenko commented on #32
@veeramarni So why do you open issue? If you are using master branch and not a released version - you need to figure out things yourself. I'm closing this issue. Please open issue on a released version of spinjs.

[2017-12-25 13:26] veeramarni commented on #32
@vlasenko

Actually, I see these errors in `anuglarjs` branch. When I responded before it was too late so I could it test it again but it does fail with same errors as mentioned above in `angularjs` branch.

I did notice `angularjs` branch was not upto date with `master` branch and missing `react-native` dependencies. After adding all the dependencies and updating the packages, I still can reprodu

[2017-12-25 14:04] veeramarni commented on #32
Also, this was tested in `master` branch of `apollo-universal-starter-kit`. Let me know if you want me to create issue here or in `apollo-universal-starter-kit`. I can take a deeper look tomorrow.

[code]

Spin configuration
---
[code]

[2017-12-25 14:22] veeramarni opened #33 "ios production build failing"
When running production build with spin, it fails with the following error.

Errors
---
[code]

The issue seems to be related to `babel-plugin-minify` as mentioned [here](https://github.com/babel/minify/issues/556)

[2017-12-25 15:15] veeramarni commented on #33
The workaround for this issue to either remove `babel-preset-minify` or set `mangle` to false.

https://github.com/sysgears/spinjs/blob/master/src/plugins/ReactNativePlugin.ts#L46

[2017-12-26 06:49] #33 closed

[2017-12-26 06:49] vlasenko commented on #33
@veeramarni Thank you very much for investigating this issue and finding workaround!

[2017-12-26 07:54] vlasenko commented on #32
@veeramarni I don't understand why you try to use `angularjs` branch of the kit for mobile builds. Mobile builds support is not yet done for that branch. Because of that I consider this issue as invalid in any case.

[2017-12-26 07:54] #32 closed

[2017-12-26 08:33] vlasenko commented on #32
@veeramarni I have still commited the fix for the issue you report in title:
Cannot read property 'loader' of undefined
https://github.com/sysgears/spinjs/commit/95c292bd85602291414ad0b535f92d60adf11e6d
This fix is included into `spinjs@0.4.64`

[2017-12-27 16:02] veeramarni commented on #33
@vlasenko thanks for fixing it.

[2018-01-02 08:44] #24 closed

[2018-01-02 08:45] #2 closed

[2018-01-02 08:45] #29 closed

[2018-01-04 11:29] t0x1c123 opened #35 "Absolute paths in stats.json"
Hello, I have a little problem. I'm using spinjs with your apollo devstack. I encoutered problem with build script. I'm using teamcity for deployment. But when I build for example on server with build agent and then copy build directory to other server I'm getting error beacuse of absolute paths to node modules in builded files. So I decided to use other way and that is call yarn build command via

[2018-01-04 14:46] vlasenko commented on #35
@t0x1c123 When you copy `build` directory to other server - the backend part still does not include code from `node_modules`, it expects that you have at least production `node_modules` installed. To do so on the server to which you have copied `build` dir, run:
`yarn install --prod`

[2018-01-04 15:24] t0x1c123 commented on #35
@vlasenko Yes I know. I do that. I have complete copy of project including node_modules. One and only differnce is that i dont build there. So if i copy build directory from other server into folder which contains the same node_modules it fails with error above.

[2018-01-04 15:34] vlasenko commented on #35
@t0x1c123 Did you provide full stack trace in this issue report?

[2018-01-04 15:38] vlasenko commented on #35
@t0x1c123 Please provide full stack trace in the issue report and use tripple backslashes to format your code here

[2018-01-04 15:42] t0x1c123 commented on #35
Here you go
[code]

[2018-01-04 15:54] vlasenko commented on #35
@t0x1c123 I think there is some problem with your code. It seems to be doing this require: `!../../../node_modules/isomorphic-style-loader/lib/insertCss.js`

[2018-01-04 15:56] vlasenko commented on #35
@t0x1c123 And this is a dev dependency. So in case you do this, you should install not only production node_modules, but also dev node_modules, or move `isomorphic-style-loader` into production dependencies. In any case this has nothing to do neither with `spinjs` nor with `apollo-universal-starter-kit`. It is only your code

[2018-01-04 16:02] vlasenko commented on #35
@t0x1c123 Actually I think I was wrong. Backend produced by `yarn build` of `apollo-universal-starter-kit` relies on `devDependencies` too. So you should really install both devDependencies and dependencies in order for it to work. E.g. run just `YARN_PRODUCTION=false yarn install` to install all `node_modules` for sure on your server.

[2018-01-04 16:04] vlasenko commented on #35
I think we should really not depend on presence of `node_modules` for backend files. I will try to fix that soon

[2018-01-04 16:09] vlasenko commented on #35
@t0x1c123 It is not really easy for me to test that current kit actually relies on `devDependencies`. Maybe it is only your code, but I cannot be sure. If you install both `devDependencies` and `dependencies` on your server it should work in any case. Also check whether you require `!...isomorphic-style-loader` directly from your code and try to not doing that

[2018-01-04 18:20] t0x1c123 commented on #35
@vlasenko Yeah it's weird but I dont import that package anywhere in my code. I also have installed all dependencies. Node modules folder contains that plugin and also that file so it's very weird.. Also my webpack ovveride file is in default state. If I search for that package only file that contains that name is in build folder

[2018-01-04 21:55] vlasenko commented on #35
@t0x1c123 Ok, I will look at this issue first thing tomorrow morning

[2018-01-05 11:15] vlasenko commented on #35
@t0x1c123 I have checked the latest version of the kit and it runs fine for me when files from `build` moved to other folder and you copy production sqlite3 db to that folder and run `yarn --prod`. The only nuisance was that `babel-polyfill` is not install, so I had to move it from devDependencies to dependencies and run `yarn --prod` again. After that the server launched succesfuly and worked as

[2018-01-05 11:15] #35 closed

[2018-01-13 20:43] adam-s opened #36 "Eslint fails on Apollo Universal App's client directory."
Version 0.4.72 of sysgears/spinjs causes the files in the client directory of Apollo Universal Starter Kit to not validate. It says cannot find module '../node_modules/eslint/.spinrc.json'. It seems new .js files are linted correctly whereas .jsx files are not so it might have something to do with the extension name. Also, when I copy and post .spinrc.json into the /node_modules/eslint/.spinrc.jso

[2018-01-14 06:19] vlasenko commented on #36
@adam-s How can I reproduce this? I have cloned the latest version of the kit and run `yarn lint`, I don't see any validation errors

[2018-01-14 16:14] adam-s commented on #36
It might be that I'm using PhpStorm for my IDE and I'm running it with Ubuntu / Linux. Nonetheless, I'm having difficulties having the loader load files from other Ant Design packages like [rc-drawer-menu](https://www.npmjs.com/package/rc-drawer-menu).

[2018-01-14 16:20] adam-s commented on #36
It might be an issue with my IDE, PhpStorm. However, I'm experiencing other problems with an Ant Design package, rc-drawer-menu, sometimes loading assets and sometimes not loading assets which I'll be looking into now.

[2018-01-14 16:35] adam-s commented on #36
I followed the instructions in the gitter channel to clear the [yarn cache and reload the node_modules](https://gitter.im/sysgears/apollo-fullstack-starter-kit?at=5a59b20bae53c15903e0f96e). Things seem to work with eslint now.

You need to clean node_modules and yarn cache
Remove node_modules dir, i.e.` rm -rf node_modules`
And clear yarn cache via `yarn cache clean`
Then do `yarn`
And then do `ya

[2018-01-14 16:59] adam-s commented on #36
Sorry, I still have the issue. Here is the error output I'm getting.
Error: Cannot find module '/home/adam/PhpstormProjects/joboty-admin/node_modules/eslint/.spinrc.json'

Error: Cannot find module '/home/adam/PhpstormProjects/joboty-admin/node_modules/eslint/.spinrc.json'
    at Function.Module._resolveFilename (module.js:542:15)
    at Function.resolve (internal/module.js:18:19)
    at Function.

[2018-01-14 17:03] vlasenko commented on #36
@adam-s Okay, I'm going to fix that soon. If you need workaround right now, add this file to the root of your project, next to `package.json`:
https://github.com/sysgears/apollo-universal-starter-kit/blob/workspaces-lerna/packages/client/webpack.config.lint.js
And change this line:
https://github.com/sysgears/apollo-universal-starter-kit/blob/master/.eslintrc#L30
to:
`"config": "webpack.config.lin

[2018-01-15 06:57] vlasenko commented on #36
@adam-s I have pushed the fix above into the kit repo:
https://github.com/sysgears/apollo-universal-starter-kit/commit/0e1b7e7cf902cc5ee41ace2360e3fbdd2725a1e1
Would be nice if you could check does it fixes the problem and report here

[2018-01-15 07:18] #36 closed

[2018-01-26 04:31] 4matic opened #37 "Using with code coverage [nyc + babel-plugin-istanbul]"
How can I use this module to get coverage of my code? (**nyc + babel-plugin-istanbul**)
I figured out that under the hood you are using **[mocha-webpack](https://github.com/zinserjan/mocha-webpack)**.
I found :mag: [good issue](https://github.com/zinserjan/mocha-webpack/issues/19) for that
How about using with **spinjs**?

Also I have found lines where is possible change path for that:
https://git

[2018-01-26 04:36] vlasenko commented on #37
@4matic Lets discuss in the chat:
https://gitter.im/sysgears/spinjs

To start, search `babelConfig` option in spinjs docs:
https://github.com/sysgears/spinjs#concepts

[2018-02-03 12:31] 4matic commented on #37
After a little discuss I found a way to apply this in my project:

First I used to try this for **babelConfig** option in **.spinrc.js** file as it is described [here](https://www.npmjs.com/package/nyc#use-with-babel-plugin-istanbul-for-babel-support)
[code]
But unfortunately this not worked...

So after that I tried other solution:
For this I used [cross-env](https://www.npmjs.com/package/cross-e

[2018-02-03 12:48] vlasenko commented on #37
@4matic Thank you very much for writing the solution here!

[2018-02-03 12:48] #37 closed

[2018-03-16 02:29] verdverm opened #38 "Election target"
I've been working with https://github.com/chentsulin/electron-react-boilerplate lately ; pretty end-to-end like apollo-universal-starter-kit

What are your thoughts on adding something like this into SpinJS ?

[2018-03-16 04:58] vlasenko commented on #38
@verdverm Yes, it would be great to add Electron target to SpinJS, we are going to add it, but we are busy with other tasks for now

[2018-03-16 20:25] verdverm commented on #38
Cool, I've been learning more about webpack and such things, about time I took a look into SpinJS. I will probably try to prototype something before the month is out.

[2018-03-23 21:57] veeramarni opened #40 "backendUrl vs __BACKEND_URL__ clarification"
Noticed that you have `backendUrl` mentioned twice in the `README.md` and in the [code](https://github.com/sysgears/spinjs/blob/8305846b98b5c6afcc82b5397a7c9286ff7529e0/src/executor.ts#L328).

Based on my understanding from the Doc, it was encouraged to use  `__BACKEND_URL__`. If that is the case then I have noticed some discrepancy as `__BACKEND_URL__` won't help in SSR.  So to clarify we still n

[2018-03-24 05:47] vlasenko commented on #40
@veeramarni `backendUrl` is still supported for backwards compatibility, but it is encouraged to set defines explicitly in `defines` section and to wait for backend to start now it is possible to use separate option `waitOn`:
```waitOn: ['tcp:localhost:8080']```

`defines` + `waitOn` completely replaces `backendUrl` and are more explicit

[2018-04-01 02:33] veeramarni opened #44 "node externals for backend"
We noticed in the latest version, the backend server build also bundles the code from `node_modules`.

How do we exclude all the `node_modules` from bundle for just on the server side? Normally, we use the following code to exclude the `node_modules` in webpack configuration. But this was not helping.

To exclude `node_modules` in lerna project
[code]

I was using the following `spinjs` configurat

[2018-04-01 02:36] veeramarni commented on #44
Node External, especially helps in `lerna` packages when we have `nested` dependencies and it would avoid creating multiple instances of classes.

[2018-04-01 07:46] vlasenko commented on #44
@veeramarni I think the best way is to add logic to spin.js to handle symlinks when detecting externals

[2018-04-01 12:07] veeramarni commented on #44
@vlasenko
I have tested below and works fine for me, still, need to test few things. Using `webpack-node-externals` would be a clean solution as we can leverage several of its options. What do you think?
[code]

[2018-04-01 15:53] vlasenko commented on #44
@veeramarni Yeah, we can use `webpack-node-externals` if it will work with the kit, which uses Yarn workspaces, that have slightly different linking then Lerna hoisted packages

[2018-04-02 00:56] veeramarni commented on #44
There was a pull request regarding [Yarn](https://github.com/liady/webpack-node-externals/pull/45). Maybe that would help.

[2018-04-02 01:03] veeramarni opened #45 "server restart when webpack throws warning [HMR] Cannot find update."
When we externalize the `node_modules`, webpack hot loader on the server side ignores any (`lerna`) packages that compiled recently by throwing the warning. Instead, we want the server to restart when we see this warning. In the earlier version, like 0.4.18 I noticed the server restart but in the latest version, I don't see this happening.

[code]

I'm using this workaround, to check the `status`

[2018-04-02 04:21] vlasenko commented on #45
@veeramarni Well, you can try to search through the guts of webpack to find a better solution, but your solution looks good enough to me

[2018-04-02 08:04] #44 closed

[2018-04-02 08:04] vlasenko commented on #44
@veeramarni Please try `spinjs@0.4.114`

[2018-04-02 12:06] veeramarni commented on #45
closing it as the workaround suffice.

[2018-04-02 12:06] #45 closed

[2018-04-02 12:09] veeramarni opened #46 "when using react-hot-loader and typescript throws errors"
Noticed when using `react-hot-loader` as well as `ts` in the stack, it throws following error.

Stack tried
[code]

Error
--
[code]

Spin config
---
[code]

[2018-04-02 12:13] vlasenko commented on #46
@veeramarni `react-hot-loader` has never worked well for us, if you or someone else want to fix it - PR are welcome, otherwise most probably it won't be fixed

[2018-04-02 13:10] veeramarni commented on #46
Ok, may we need to use React Hot Loader v4 outside `spinjs` as it doesn't need [patch](https://github.com/gaearon/react-hot-loader#no-patch-required).
I have tried it before but throws a harmless warning when using with ReactRouter. Not sure what exactly the warning is but I will try and if it is working then let you know.

[2018-04-03 00:11] veeramarni commented on #46
@vlasenko

I have some luck with the latest version of `React-Hot-Loader`. I was able to fix the other issue I was having. And I created a pull request. With `hot` api it is easier to implement it outside `spinjs`. But I haven't tested it thoroughly but it works for us so far and I tried with `Apollo Starter Kit` which worked as well and I only tested the web part by commenting anything related to

[2018-04-08 01:40] fguitton opened #47 "Problem with lack of extra option support for CSS/LESS loaders"
SpinJS does not allow the addition of extra option (similar to babelConfig/webpackConfig) for CSS/LESS loaders leading to the following error when we bump the version of the `less` package to `3.0.0` :

[code]

It does not seem to be addressable by use of webConfig to merge with the final webpack configuration since the loader configurations are in anonymous arrays/objects.

[2018-04-09 07:48] vlasenko commented on #47
@fguitton The PR has been started to implement loader configs overriding:
#48
If you have free time, please consider helping with implementation

[2018-04-09 09:57] vlasenko commented on #47
@fguitton Implemented in  #48 and published as`spinjs@0.4.116`, use `cssConfig` builder option to override generated `css-loader` options.

[2018-04-09 09:57] #47 closed

[2018-04-09 09:57] vlasenko commented on #46
Closing as not related to `spinjs`

[2018-04-09 09:58] #46 closed

[2018-04-13 15:57] veeramarni opened #49 "docker question"
Do we need to install any specific package for `spinjs` to work in the container? With the new version, it seems failing for us with following error.

[code]

Docker file
--
[code]

[2018-04-13 16:08] veeramarni commented on #49
Never mind something funky with `eslint` after reinstalling it, I don't see that problem.

https://github.com/eslint/eslint/issues/6983

[2018-04-13 16:08] #49 closed

[2018-04-22 09:30] vlasenko commented on #44
The fix has been rolled back starting from `spinjs@0.4.118` because it breaks Windows support. If someone finds cross-platform way of passing `preserve-symlinks` arg to `node` from within npm scripts - PR is welcome

[2018-04-22 10:55] veeramarni commented on #44
Well, I think I can investigate a solution using `nodeexternals` like shown here.

https://github.com/kaliberjs/build/blob/e51f631b93610f6a31ce68f2484e0e92512687e1/library/lib/build.js#L114

[2018-05-03 21:56] veeramarni opened #50 "external plugins"
I was not able to load external plugins which I add under the `config.options`. Also, i have noticed we are not doing anything the `plugins` that defined in `options`.

https://github.com/sysgears/spinjs/blob/master/src/ConfigReader.ts#L60

Below is my `.spinjs` file.
[code]

[2018-05-03 23:16] veeramarni commented on #50
I see external webpack config can be supplemented with `webpackConfig`. In that case, we should update the readme as we don't need to pass under `options` as that won't be used.

[code]

[2018-05-03 23:27] veeramarni commented on #44
In case anyone looking for solution, this can be easily accomplished with

[code]

[2018-05-04 01:54] #50 closed

[2018-06-22 02:56] mansya opened #52 "New Logo/Icon"
Hi, I am a graphic designer, I want to help others in graphic design.

After I reviewed your project, you have no logo on this project. Therefore I want to contribute to this project by creating a new logo / icon. what do you think?

[2018-06-22 14:03] vlasenko commented on #52
Thank you, our designer has started working on the logo already.

[2018-06-22 14:03] #52 closed

[2018-08-16 13:02] janat08 opened #54 "Error: spawn yarnpkg ENOENT (windows)"
[code]
yarnpkg exists and in path. I believe i saw stackoverflow adress the issue on windows (if youre author)

[2018-08-16 13:04] vlasenko commented on #54
@janat08 Hmm, strange, I'll check. Could you remember that stackoverflow answer link?

[2018-08-16 13:45] janat08 commented on #54
https://stackoverflow.com/questions/43230346/error-spawn-npm-enoent

[2018-08-16 14:41] janat08 opened #55 "using npm library in babelrc"
trying to
.babelrc plugins:
    ["transform-react-jsx", {
         "pragma": "Snabbdom.createElement"
       }]

Snabbdom coming from:     "snabbdom-pragma": "^2.7.0", and it says it's not found. I tried installing in on client and including babelrc in there. I suspect I should react webpack docs?

[2018-08-16 14:45] vlasenko commented on #55
@janat08 I'm not sure I follow, which template are you using and what modifications did you made to the template exactly?

[2018-08-16 15:04] vlasenko commented on #54
@janat08 Thank you! I'm working on it

[2018-08-16 15:10] janat08 commented on #55
Universal only because I can't use this library. I'm trying to have non-default library parse jsx, so I passed:
[code]
in plugins section of babel. Installing snabbdom-pragma library.

[2018-08-16 15:12] vlasenko commented on #55
@janat08 Can you copy past full error stack trace from terminal?

[2018-08-16 15:15] vlasenko commented on #55
@janat08 One more thing - where do you want to use snabdom-pragma - in TypeScript files, or in ES6 `jsx` files, .babelrc need to be tweaked for `jsx` files. But if you are using it in `tsx` files, you need to modify `tsconfig.json`

[2018-08-16 15:25] #55 closed

[2018-08-16 15:26] janat08 commented on #55
Otherwise the trace is:
[code]

[2018-08-16 15:27] vlasenko commented on #55
@janat08 Thank you for the info!

[2018-08-16 15:28] vlasenko commented on #55
@janat08 Looks like this stack trace is from `apollo-universal-starter-kit`, not from the `create-apollo-app` though

[2018-08-16 16:05] #54 closed

[2018-08-16 18:15] vlasenko commented on #54
@janat08 I'm facing other issue under Windows after this fix, I'm going to fix in tomorrow morning. Stay tuned

[2018-08-17 09:12] vlasenko commented on #54
@janat08 I have faced an issue with broken `parse` with custom tags introduced in `mustache@2.3.1` . I have downgraded to `mustache@2.3.0` in `create-apollo-app@0.0.20` and now app generation works properly under Windows 7 for me.

[2018-08-22 08:51] sis-dk opened #56 "spin error WebpackOptionsValidationError"
**What I did?**
- git clone https://github.com/sysgears/create-apollo-app.git
- yarn create apollo-app my-app@mobile
- cd my-app/
- yarn start

**What the problem is?**
- After yarn start, it throws this error,

[code]

[2018-08-22 09:32] vlasenko commented on #56
@sis-dk Should be fixed in `spinjs@0.4.156`.

There is no need to clone `create-apollo-app`.

Please make sure you remove `my-app` before trying again (so that latest `spinjs` was installed).

It is sufficient to only do these steps:
  - yarn create apollo-app my-app@mobile
  - cd my-app/
  - yarn start

[2018-08-22 10:13] sis-dk commented on #56
@vlasenko followed your instructions and it works now. Thanks.

[2018-08-22 10:14] #56 closed

[2018-08-22 11:03] #26 closed

[2019-04-23 21:07] Aristophanes888 opened #59 "Yarn errors when trying to create a React app"
I try to create a react app with the following command:
`create-react-app eth-todo-list-react`

I then receive these errors
[code]

Any help fixing this would be much appreciated, thanks.

[2019-04-23 21:09] #59 closed

[2019-04-24 05:35] vlasenko commented on #59
@Aristophanes888 Why did you close the issue, have you figured out what is the problem?

[2019-04-30 22:25] BatuhanW opened #60 "Storybook"
Can you help adding story book to this starter kit?

I would like to add it if you point me some direction and do code review :)

[2019-05-01 03:54] vlasenko commented on #60
@BatuhanW Yes, it should be easy actually:
https://github.com/sysgears/larix/blob/master/packages/zen/docs/programmatic.md

[2019-05-26 17:10] matheuseabra opened #61 "[Enhancement] support for Docker"
By adding the client, mobile and server to its each Docker container, and then managing that with Docker Compose would ease deployment and developer experience by having a homogeneous way to transport `create-apollo-app` to different environments. :ship:

[2019-11-13 02:10] rjerue opened #65 "error package.json: Name contains illegal characters"
When using `npx create-apollo-app new-app` and `yarn create apollo-app some-app` I am getting the error `error package.json: Name contains illegal characters`. This is happening on all of the templates.

[code]

I'm on node v10.16.3
NPM: 6.9.0
Yarn: 1.16.0

This is also on OSX.

Any tips on troubleshooting?

[2019-11-13 07:20] larixer commented on #65
@rjerue Published the fix in `create-apollo-app@0.0.37`. Thank you for the report!

[2019-11-13 07:20] #65 closed

[2020-04-05 15:04] #60 closed

[2020-05-26 17:42] tennox opened #70 "Drop GraphiQL in favor of already integrated playground?"
It seems to me GraphiQL is obsolete - https://www.prisma.io/blog/introducing-graphql-playground-f1e0a018f05d#how-is-this-different-compared-to-graphiql

Shouldn't we drop it from this boilerplate?

[2020-05-26 17:57] larixer commented on #70
@TeNNoX How does your link confirm that GraphiQL is obsolete? Please clarify.

[2020-05-26 18:57] tennox commented on #70
It doesn't **confirm** as in **guarantee** - but it basically is the case and it's also why its [integrated into apollo server](https://www.apollographql.com/docs/apollo-server/testing/graphql-playground/)

Here's a [list of additional features](https://github.com/prisma-labs/graphql-playground#how-is-this-different-from-graphiql)

[2020-05-26 19:37] larixer commented on #70
@TeNNoX So, it is not obsolete. Graphql Playground has serious bugs:
https://github.com/prisma-labs/graphql-playground/issues/748
Despite the bug is closed, it was not really solved and results in bad user experience for some very basic need - authentication. GraphiQL doesn't have such problems and is known to be truly stable and working solution.

[2020-05-26 19:37] #70 closed, assigned to nobody

[2020-05-26 22:01] tennox commented on #70
Alright. Seems I have incomplete knowledge. Thanks for considering, and in any case: Huge thanks for this tool :heart:

[2020-07-20 13:34] gromov-io opened #73 "error Cannot create "/usr/local/bin/create-apollo-app" due to insufficient permissions."
fack... sudo, real ???

[2020-07-20 14:02] gromov-io commented on #73
God, why is there nothing in this world that just works?.

[2020-07-20 19:46] larixer commented on #73
Reproduction steps weren't provided

[2020-07-20 19:46] #73 closed, assigned to nobody

[2020-10-11 00:20] sb2nov opened #75 "upgrade the expo dependencies"
I have been trying to upgrade the dependencies but don't have a background in js so any help here would be great

[2021-01-22 18:26] CodeSpent opened #76 "Add .gitignore to scaffolding process"
I'm not sure if this is an oversight, or intentional, but I'd love to have the discussion documented. There is currently no .gitignore boilerplate, which adds a little extra work after starting the project. I'm proposing adding this, and potentially also adding the `git init` step to the scaffolding process.

I think it is fair to assume (or just provide an option) that someone would be using git

[2021-01-23 07:10] larixer commented on #76
@CodeSpent I'm fine with this idea, but we should ignore `git init` errors, so that if use do not have `git` installed it won't fail

[2021-01-23 19:15] CodeSpent commented on #76
@larixer great, I can handle that. Do you think it'd make more sense to add a second option after the initial menu selection asking the user if they want to initialize git? Can still fail silently, but this would also let them opt out of a .gitignore if for any reason they don't want one.

[2021-01-23 19:17] larixer commented on #76
@CodeSpent I think pretty much everyone uses git these days, so just failing with a warning is fine, IMO, no need to complicate the task for yourself

[2022-02-04 02:43] ondrovic opened #82 "Fresh install no matter what type of app I create gets error envelope routines unsupported"
Fresh install windows 10
node: v17.4.0
npm: 8.3.1
yarn: 1.22.17
[code]

[2022-06-24 18:47] mark-d-holmberg commented on #82
[code]